
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    
    --cor-fundo: #000000 ;
    --cor-principal: #000000 ;
    --cor-secundaria: #2261aa; 
    --cor-destaque: #4c88ce;
    --cor-texto: #ffffff;

}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.caixa-principal{
    background-color: var(--cor-principal);
    width: 90%;
    max-width: 600px;
    text-align: center;
    padding: 20px;
}

h1{
    font-family: Roboto;
    color: var(--cor-destaque);
}

button {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--cor-secundaria);
    color: var(--cor-texto);
    border: none;
    border-radius: 15px;
    margin: 10px;
    padding: 15px;
    transition: background-color 0.3s;
}

button:hover{
    background-color: var(--cor-destaque);
    color: var(--cor-principal);
}

